<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs', { title: "Delete Recipe | KitchenConnect" + recipe.title}) %>
<body>
    <%- include('../partials/header.ejs') %>

    <main>
        <section class="delete-section">
          <h1>Delete Recipe</h1>
          <p>Are you sure you want to delete the following recipe?</p>
          <h2><%= recipe.title %></h2>

          <div class="row">
            <div class="col-md-6">
                <div class="card" id="<%= recipe._id %>">
                    <img src="<%= recipe.image %>" class="card-img-top" alt="<%= recipe.title %>">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= recipe.title %>
                        </h5>
                        <p>Posted by :
                            <%= recipe.author %>
                        </p>
                        <p class="card-text">
                            <%= recipe.instructions %>
                        </p>
                    </div>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>Category:</strong>
                            <%= recipe.category %>
                        </li>
                        <li class="list-group-item"><strong>Cooking Time:</strong>
                            <%= recipe.cookingTime %> minutes</li>
                        <% if(reviews & reviews.length >0){ %>
                            <li class="list-group-item"><strong>Ratings:</strong>
                                <% let totalRatings = 0 %>
                                    <% reviews.forEach(function(review){ %>
                                        <% totalRatings += review.rating %>
                                            <% }) %>
                                                <% let avgRating = Math.round((totalRatings/reviews.length) * 10) / 10 %>
                                                    <%= Array.from({length: avgRating}, (_, i) => i).map((i) => '<i class="bi bi-star-fill"></i>').join('') %>
                                                        <%= avgRating %> / 5</li>
                            <% } %>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Ingredients</h5>
                        <ul class="list-group">
                            <% recipe.ingredients.forEach(function(ingredients, index){ %>
                                <li class="list-group-item">
                                    <%= ingredients %>
                                </li>
                                <% }) %>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">Nutrients</h5>
                        <ul class="list-group">
                            <% recipe.nutrients.forEach(function(nutrients, index){ %>
                                <li class="list-group-item">
                                    <%= nutrients %>
                                </li>
                                <% }) %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

          <div class="delete-actions">
            <form class="delete-form" method="POST" action="/recipe/delete/<%= recipe._id %>?_method=DELETE">
                <button type="submit" class="delete-btn">Yes, Delete</button>
            </form>
            <a href="/recipe/<%= recipe._id %>">Cancel</a>
          </div>
        </section>
    </main>

    <%- include('../partials/footer.ejs') %>
</body>
</html>