<!DOCTYPE html>
<html lang="en">
    <%- include('../partials/head.ejs', { title: "Edit your recipe"}) %>
    <body>
        <%- include('../partials/header.ejs') %>
        <div class="main-container-editP">
            <h1 id="main-heading-editpage">Edit Your Recipe</h1>
            <div class="main-container-image">
                <img id="image-happy-cookers" src="/images/image_edit_page.jpeg" alt="Asian woman cooking, with a lot of vegetables around her in a kitchen." class="newpage-container-image">
            </div>
            <div id="sub-heading-editpage">
                <h3>You are about to edit your recipe.</h3>
                <h3>Take your time before validation!</h3>
            </div>
        </div>
        <section id="editpage">
            <main>
                <form id="my-edit-form" action="/recipe/<%= recipe._id %>?_method=PUT" method="POST">
                    <label for="image">Image URL:</label>
                    <input  type="text" value="<%= recipe.image %>" name="image" placeholder="Select an image for your recipe." class="input-text">
                    
                    <label for="title">Title:</label>
                    <input type="text" value="<%= recipe.title %>" name="title" placeholder="Title of your recipe." class="input-text">
                    <br>
                    <label for="nutrients">Nutrients:</label>
                    <input type="text" name="nutrients" placeholder="Nutrients of the recipe." class="input-text">
                    <br>
                    <label for="category">Category:</label>
                    <input  type="text" value="<%= recipe.category %>" name="category" placeholder="Category (e.g. American, French...)" class="input-text">
                    <br>
                    <label for="calories">Calories:</label>
                    <input type="text" value="<%= recipe.calories %>" name="calories" placeholder="Add the calories." class="input-text">
                    <br>
                    <label for="author">Author:</label>
                    <input  type="text" value="<%= recipe.author %>" name="author" placeholder="Enter the name of the author." class="input-text">
                    <br>
                    <label for="cookingTime">Cooking Time:</label>
                    <input type="text" value="<%= recipe.cookingTime %>" name="cookingTime" placeholder="Add cooking time." class="input-text">
                    <br>
                    <label for="ingredients">Ingredients:</label>
                    <input type="text" value="<%= recipe.ingredients %>" name="ingredients" placeholder="Add the ingredients." class="input-text">
                    <br>
                    <label for="instructions">Instructions:</label>
                    <textarea value="<%= recipe.instructions %>" name="instructions" id="instructions-textarea" placeholder="Enter the recipe instructions."></textarea>
                    <br>
                    <div class="input-container-save-edit-changes">
                        <input type="submit" value="Save Changes" />
                    </div>
                </form>
            </main>
            <br /><br />
        </section>
        <%- include('../partials/footer.ejs') %>
    </body>
</html>