<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head.ejs', { title: "Best Recipes" }) %>

<body>
    <%- include('../partials/header.ejs') %>
        <div class="recipe-index-page-image">
            <img id="image-recipes" src="/images/image_homepage.png" alt="Kitchen Connect"
                class="recipe-index-page-image">
        </div>

        <div class="recipe-hero">
            <h1 class="recipe-hero-title">Discover new flavors with our wide range of recipes!</h1>
            <p class="recipe-hero-subtitle">Welcome to our recipe website, where you can find a vast collection of
                delicious and easy-to-follow recipes.</p>
        </div>
        <br>
        <br>
        <div class="index__actions">
            <a class="button" href="/recipe/new">Add New Recipe</a>
            <input type="text" id="searchText" placeholder="Search by category...">
            <br>
            <a class="button" href="/recipe" id="link">
                <button id="searchSubmit">Search</button>
            </a> 
        </div>
        <br>
        <section>


                <!-- display recipes on index page -->
                <div class="card-container">
                    <% for(let i=0; i < recipe.length ; i+=2) { %>
                        <div class="row">
                            <% for(let j=i; j<i+2 && j < recipe.length; j++) { %>
                                <div class="col-md-6">
                                    <div class="recipe-card">
                                        <div class="recipe-image">
                                            <img src="<%=recipe[j].image %>" alt="<%=recipe[j].title %> image" />
                                        </div>
                                        <div class="recipe-details">
                                            <h2 class="recipe-title">
                                                <%= recipe[j].title %>
                                            </h2>
                                            <a class="view-button" href="recipe/<%= recipe[j]._id %>">View Recipe</a>
                                            <ul class="recipe-info">
                                                <li>Category:
                                                    <%= recipe[j].category %>
                                                </li>
                                                <li>Calories:
                                                    <%= recipe[j].calories %>
                                                </li>
                                                <li>Nutrients:
                                                    <ul class="recipe-nutrients">
                                                        <% recipe[j].nutrients.forEach(function(nutrient) { %>
                                                            <li>
                                                                <%= nutrient %>
                                                            </li>
                                                            <% }); %>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <% } %>
                        </div>
                        <% } %>
                </div>
            </section>>
            <%- include('../partials/footer.ejs') %>
    </body>

</html>