<!DOCTYPE html>
<html lang="en">
<%- include('../partials/header.ejs', {name: recipe.title + " by " + recipe.author}) %>

    <body>

        <h1>Recipe:
            <%= recipe.title %>
        </h1>
        <h2>Posted By:
            <%= recipe.author %>
        </h2>
        <h2>instructions:
            <%= recipe.instructions %>
        </h2>
        <h2> Cooking Time:
            <%= recipe.cookingTime%> Minutes
        </h2>
        <h2> Category:
            <%= recipe.category%>
        </h2>
        <h2> Calories:
            <%= recipe.calories%>
        </h2>
        <h2> Ingredients:
            <ul>
                <% recipe.ingredients.forEach(function(ingredient){ %>
                    <li class="list-group-item">
                        <%= ingredient %>
                    </li>
                    <% }) %>
            </ul>
        </h2>
        <h2> nutrients:
            <ul>
                <% recipe.nutrients.forEach(function(nutrient){ %>
                    <li class="list-group-item">
                        <%= nutrient %>
                    </li>
                    <% }) %>
            </ul>
        </h2>
        <a href="/recipe/<%= recipe._id %>/edit">Edit this Recipe</a>

        <%- include('../partials/footer.ejs') %>
    </body>

</html>