<!DOCTYPE html>
<html lang="en">
<%- include('../partials/header.ejs', {name: myRecipe.title + " by " + myRecipe.author}) %>

    <body>

        <h1>Recipe:
            <%= myRecipe.title %>
        </h1>
        <h2>Posted By:
            <%= myRecipe.author %>
        </h2>
        <h2>instructions:
            <%= myRecipe.instructions %>
        </h2>
        <h2> Cooking Time:
            <%= myRecipe.cookingTime%> Minutes
        </h2>
        <h2> Cuisine Type:
            <%= myRecipe.category%>
        </h2>
        <h2> Calories:
            <%= myRecipe.calories%>
        </h2>
        <h2> Ingredients:
            <ul>
                <% myRecipe.ingredients.forEach(function(ingredient){ %>
                    <li class="list-group-item">
                        <%= ingredient %>
                    </li>
                    <% }) %>
            </ul>
        </h2>
        <h2> nutrients:
            <ul>
                <% myRecipe.nutrients.forEach(function(nutrient){ %>
                    <li class="list-group-item">
                        <%= nutrient %>
                    </li>
                    <% }) %>
            </ul>
        </h2>
        <% if(usersRecipe) { %>
            <a href="/recipes/<%= myRecipe._id %>/edit">Edit your recipe</a>
            <a href="/recipes/<%= myRecipe._id %>/delete">Delete your recipe</a>
            <% } %>
                <form method="POST" action="/recipes/<%= myRecipe._id %>/reviews">
                    Rating: <input type="text" name="rating"> Review: <input type="text" name="body">
                    <input type="submit" value="Submit this rating">
                </form>
                <% for(let i=0; i < recipeReviews.length; i++) { %>
                    <h3>Rating:
                        <%= recipeReviews[i].rating %>
                    </h3>
                    <p>Comment:
                        <%= recipeReviews[i].body %>
                    </p>
                    <p>Rating given by:
                        <%= recipeReviewUsers[i] %>
                    </p>
                    <hr>
                    <% } %>
                        <%- include('../partials/footer.ejs') %>
    </body>

</html>

</html>